<h1>Wikiを削除</h1>
<%= form_tag do %>
	<%# 本当は、JavaScriptを使いたくない %>
	<%= submit_tag 'Wiki、ページを削除' , { :name => 'destroy_button' , :onclick=>"return confirm('削除します。よろしいですか？');" } %><br>
	<%= submit_tag 'Wikiトップに戻る' , { :name => 'back_button' } %>
<% end %>
