<%# 書き方を確認してもらう %>
<table>
	<tr>
		<th>Wiki番号</th>
		<th>Wikiタイトル</th>
	</tr>
	<% page = Wikipage.find(:first, :conditions => {:wiki_id => +1, :wikipage_id => 1}) %><br>
	<% @wikis.each_with_index do |wiki, i| %>
			<tr>
				<td><%= i %></td>
				<td><%= wiki.title %></td>
			</tr>
		</table>
	<% end %>
</table>
