<% if params[:id].nil? %>
	<h1>Wiki一覧</h1>	
	<table>
		<tr>
			<th>Wiki番号</th>
			<th>Wikiタイトル</th>
		</tr>
		<% page = Wikipage.find(:first, :conditions => {:wiki_id => 1, :wikipage_id => 1}) %><br>
		<% @wikis.each_with_index do |wiki, i| %>
				<tr>
					<td><%= wiki.id %></td>
					<td><%= link_to wiki.title, "/wiki/#{wiki.id}/index" %></td>
				</tr>
			</table>
		<% end %>
	</table>
<% else %>
	<center>
		<h1><%= @wiki.title %></h1>
		<% toppage = Wikipage.find(:first, :conditions => {:wiki_id => params[:id], :wikipage_id => 1}) %>
		<%= toppage.body.html_safe %>
	</center>
<% end %>
