<%# if @wiki and params[:id].nil? %>
	<% 10.times{|i| %>
		<%# 書き方を確認してもらう %>
		<% if @wiki[i].nil? %>
			<br>エラーが発生しています。解決できない場合、管理人にお知らせください。
		<% else %>
			<% p "@wiki[i].wiki_wikipages = ", @wiki.wiki_wikipages %>
			<%= @wiki[i].wiki_wikipages.wiki_id %> <%= @wiki[i].wikipages[0].title %><br>
		<% end %>
	<% } %>
<%# else %> 
	<h1><%#= @wiki.title %></h1>
	<%#= link_to "編集", "edit" %> <%#= link_to "削除", {:controller => "wiki", :action => "destroy", :id => params[:id]} %>
	<h2><%#= @wiki.wikipages[0].title %></h2>
	<%#= @wiki.wikipages[0].body %>
<%# end %>
