<h1>テストの一覧</h1>

<table>
	<tr>
		<th>テスト番号</th>
		<th>タイトル</th>
	</tr>
	<% @tests.each_with_index do |test, i| %>
		<tr>
			<td><%= test.test_questions.test_id %></td>
			<td><%= test.title %></td>
		</tr>
	<% end %>
</table>	
