<h1>テストの新規作成</h1>
<%= form_tag("/create", :multipart => true) do %>
	<% if false %>
	<% @questions.each_with_index do |question, i| %>
		<% @question = question %>
		<%= i %>問目 : 
		<select name = "question_kind_<%= i %>">
			<option value = "0">選択してください</option>
			<option value = "1">N択問題</option>
			<option value = "2">○×問題</option>
			<option value = "3">一問一答</option>
			<option value = "4">穴埋め</option>
		</select>
	<% end %>
	<%= submit_tag "送信" %>
	<% end %>
<% end %>
