<%= javascript_include_tag "test.js" %>
<h1>テストの新規作成</h1>
<%# フォームの動的作成 %>
<%= form_for @test, :url => {:action => "create"} do |f| %>
	<%= f.fields_for :testquestions do |f1| %>
		問題形式 : <%= f1.select :kind, ["N択問題", "○×問題", "一問一答","穴埋め"], {:include_blank => "選択してください"}, {:onchange => "changeSelect()"} %>
	<% end %>
<% end %>
