<h1>テストの新規作成</h1>
<%# フォームに関連する変数の動的作成 %>
<%# フォームの動的作成 %>
<%= form_for @test, :url => {:action => "create"} do |f| %>
	<%= f.fields_for :testquestions do |f1| %>
		問題形式 : <%= f1.select :kind, ["N択問題", "○×問題", "一問一答","穴埋め"] %>
		<script type = "text/javascript">
			<!--
			// xmlHttpを保存
			var xmlHttp;
			function loadFrom(){
				// 現在のバラメータの取得
				var select = document.getElementById("test_testquestions_kind").value;
				var fileName = "localhost:3000/test/new"
			
				if(window.XMLHttpRequest){
					xmlHttp = new XMLHttpRequest();
				}else{
					if(window.ActiveXObject){
						xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
					}else{
						xmlHttp = null;
					}
				}
			xmlHttp.onreadystatechange = checkStatus;
			xmlHttp.open("GET",fileName,true);

			xmlHttp.send(null);
			}

		function checkStatus(){
			if(xmlHttp.readyState == 4 && xmlHttp.status == 200){
				var node = document.getElementById("disp");
				node.innerHTML = xmlHttp.responseText;
			}
		}
		-->
		</script>
	<% end %>
<% end %>
