<!--
http://d.hatena.ne.jp/Climber/20100527/1274942772
-->

<%
title = "#{@http_status_code} #{ActionController::StatusCodes::STATUS_CODES[@http_status_code]}"
-%>
<h1><%= title %></h1>

<p>
<% if @http_status_code == 403 # Forbidden -%>
アクセス権限がありません.
<% elsif @http_status_code == 404 # Not Found -%>
お探しのページが見つかりませんでした.
<% elsif @http_status_code == 422 # Unprocessable Entity -%>
指定されたエンティティの処理ができませんでした.
<% elsif @http_status_code == 500 # Internal Server Error -%>
システムに障害が発生しました.
<% end -%>
</p>
