/*
 * http://conveniweb.blog81.fc2.com/blog-entry-2.html
 */
html {
    height: 100%;
}

body {
    height: 100%;
}

#container {
    width: 780px; /* 任意の数値 */
    margin: 0px auto;
    position: relative;
    height: 100%;
    min-height: 100%;
}

body > #container {
        height: auto;
}

#main {
    padding-bottom: 60px; /* footerと同じ数値 */
}

#footer {
    position: absolute;
    bottom: 0px;
    height: 60px; /* 任意の数値 */
    width: 100%;
}

/*
 * input
 */

input{
	font-size: 15px;
	width: 150px;
}

input.size2{
	width: 30px !important;
}

/*
 * textarea
 */
textarea{
	font-size: 15px;
	width: 400px;
	height: 300px;
}
